.register {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url('../../assets/images/Register/register.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;

  .register__wrapper {
    width: 40%;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #000;

    .register__title {
      display: flex;
      align-items: center;
      justify-content: center;
      pointer-events: none;
      font-size: 30px;
      font-weight: 300;
      font-family: 'Poppins', sans-serif;
      text-transform: uppercase;
    }

    .register__form {
      display: flex;
      flex-wrap: wrap;

      input {
        flex: 1;
        min-width: 40%;
        margin: 15px 10px;
        padding: 10px;
      }

      .test {
        display: flex;
        flex-direction: column;
        width: 100%;

        .register__text {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 18px;
        }

        .register__button {
          text-transform: uppercase;
          width: 40%;
          border: none;
          padding: 15px 20px;
          background-color: #000;
          color: #ffffff;
          cursor: pointer;
          margin: auto;
        }
      }
    }
  }
}
