.productcard {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  margin: 5px;
  min-width: 280px;
  height: 350px;
  background-color: lightgray;
  cursor: pointer;

  .productcard__img {
    height: 75%;
    object-fit: cover;
  }
}
